body {
  padding-top: 50px;
}

.jumbotron{
	text-align: center;
	background-image: url('../images/nyc.jpg');
	color: white;
	border-bottom: 2px solid #e74c3c;
}

#get-involved{
	background-color: #f5f5f5;
}

.btn-lg{
	font-size: 36px;
}

.jumbotron h1{
	font-family: 'Arvo', courier, serif;
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p{
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

ul.nav {
	font-family: 'Arvo', courier, serif;
	font-size: 13px;
}

footer{
	background-color: #f74c3c;
    padding-top: 150px;
    padding-bottom: 30px;
    position: relative;
}

.partonelogo{
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.parttwologo{
	font-size: 20px;
}

.homepage{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
} 

.homepage h2{
	color: #c74c3c;
	font-family:'Arvo', courier, serif;
	text-transform: uppercase;
	font-size: 30px;
}

.homepage h3{
	text-transform: uppercase;
    color: #e74c3c;
    font-family: 'Arvo', courier, serif;
    font-size: 26px;
}

.homepage p{
	font-weight: 600;
    font-size: 19px;
}

.homepage a{
	color: #e74c3c;
}

.homepage a:hover{
	color: #e74c3c;
	text-decoration: none;
	opacity: 0.7;
}

.homepage hr{
	border: 1px solid #e74c3c;
	width: 160px;
	margin-top: 15px;
}

#back-to-top{
	position: fixed;
    bottom: 20px;
    right: 20px;
    position: absolute;
}

#back-to-top a{
	color: #333;
	outline: none;
}

#back-to-top a:hover{
	text-decoration: none;
}

footer .sl{
	color: white;
	font-size: 18px;
	font-family: tahoma;
}

/*Responsive styling*/

@media (max-width: 1199px) { 
	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}
}

@media (max-width: 991px) { 
	.jumbotron h1{
		font-size: 44px;
	}

	.jumbotron p{
		padding: 0 10px;
	}

	#get-involved .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px; 
	}
}

@media (max-width: 1199px) {
	.jumbotron{
		background-size: 1400px;
	} 
	.jumbotron h1{
		font-size: 44px;
		margin-bottom: 30px;
	}
	
}

@media (max-width: 767px) { 
	.jumbotron{
		background-size: 1200px;
		border-bottom: 3px solid #e74c3c; 
	}

	#myModal{
		width: 600px;
		margin: 0 auto;
	}

	.jumbotron h1{
		font-size: 24px;
	}

	.jumbotron p{
		padding: 0px;
		font-size: 16px;
	}
	
	.btn-lg{
		font-size: 18px;
	}

	.homepage p{
		font-size: 18px;
	}

	footer p{
		width: 80%
	}

	#back-to-top a{
		font-size: 70px;
	}

	#myModal{
		width: 300px;
		margin: 0 auto;
	}
}

@media (max-width: 330px){
	#back-to-top a{
		font-size: 50px;
	}

	#back-to-top{
		bottom: 10px;
		right: 10px;
	}
}